html {
  overflow: hidden !important;
}

.app-container {
  min-width: 100vw;
  height: 100vh;
  display: flex;



  > .map-container {
    min-width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    
    > .map-mask, #map {
      position: absolute;
      height: 100%;
      width: 100%;

      > .mapboxgl-map {
        width: 100%;
        height: 100%;
      }
    }

    > .map-mask {
      background-color: rgba(82, 186, 213, 0.8);
      z-index: 3;
    }

    > .main-btn-container {
      position: absolute;
      z-index: 4;

      > .main-btn {
        width: 8.8em;
        height: 3.2em;
        border-radius: 8px;
        font-size: 1.2em;
        background-color: rgba(255,255,255,0.8);
        color: rgb(82, 186, 213);
      }
    }

    >.map-legend {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 999;
      background-color: white;
    }

  }


}

.hidden {
  display: none !important;
}

.top-nav {
  padding: 0 20px 0 20px;
  flex: 0 0 auto;
}

.websceneview {
  position: absolute;
  height: 100%;
  width: 100%;
  
  > div {
    width: 100%;
    height: 100%;
  }
}

