.app-container {
  background-color: #f7f7f7;
  min-width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  overflow: auto;

  >.section-projects {
    display: flex;
    justify-content: center;

    >.article-wrapper {
      display: flex;
      align-items: center;
  
      >.article-link {
        display: flex;
        flex-direction: row;
        color: #9e9e9e;
        width: 100%;
        font-size: 1rem;
        
        > .article-heading {
          padding: 2rem 3rem;
          min-width: 50%;

          >.article-text {
            font: $font-body;
            display: flex;
            justify-content: space-between;

            >.text-column >.list {
              padding-left: .25rem;
              font: $font-small;
              list-style-type: none;
            }
          }

          >.article-title {
            font: $font-title-serif;
            font-weight: $font-weight-bold;
          }

          >.article-footer {
            margin-top: 3rem;
            font-family: $font-family-mono;
            transition: transform .5s ease-in-out;
            font-size: 1rem;
          }
        }

        >.article-figure {
          overflow: hidden;

          > .article-img {
            max-width: 100%;
            height: auto;
            transition: transform .5s ease-in-out;
          }
        }

        &:hover {
          .article-footer {
            color: $theme;
            transform: translateX(1rem);
          } 
          
          .article-img { 
            transform: scale(1.05);
          }
        }
      }
    }
  }

  // >.article-wrapper {
  //   margin: 1rem 0;
  // }

  >.map-container {
    position: relative;
    min-width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    overflow: hidden;

    > .map-mask, #map {
      position: absolute;
      height: 100%;
      width: 100%;

      .mapboxgl-canvas {
        width: 100% !important;
      }
    }

    > .map-mask {
      background-color: rgba(82, 186, 213, 0.8);
      z-index: 3;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      > .main-btn-wrapper {
       position: relative;
       min-height: 75px;

        > .main-btn {
          height: 60px;
          border-radius: 8px;
          font-size: 1.2em;
          background-color: rgba(255, 255, 255, 0.8);
          color: rgb(82, 186, 213);
        }
      }

      > .icon-wrapper > .mask-icon {
        color: $white;
        font-weight: 900;
        font-size: 1.2rem;
        animation: moving .5s ease-in-out infinite alternate;
        cursor: pointer;

        &:hover {
          /* color | offset-x | offset-y | blur-radius */
          text-shadow: $white 0 0 10px;
        }
      }
    }
  }

  &.fullscreen {
    overflow: hidden;

    >.map-container {
      position: absolute;
      width: 100%;
      overflow: hidden;
      height: 100%;
      margin-bottom: 0;
      width: 100vw;
      height: 100vh;
      margin: 0;

      .map-panel {
        position: absolute;
        top: 1rem;
        left: 1rem;
        z-index: 1;
        max-height: 90%;
      }
    }
  }
}

.hidden {
  display: none !important;
}

.top-nav {
  padding: 0 20px 0 20px;
  flex: 0 0 auto;
}

.websceneview {
  position: absolute;
  height: 100%;
  width: 100%;
  
  > div {
    width: 100%;
    height: 100%;
  }
}

@keyframes moving {
  to {
    transform: translateY(15px);
  }
}
