.card-inputs {
  min-height: 40vh;
}

.data-row > .value > .value:disabled {
  opacity: .8;
  font-weight: 500;
  cursor: default;
  border: none;
  background-color: rgba($black, .1);
}

.cate-names {
  display: inline-flex;
  width: 100%;

  > .cate-title {
    padding: .25em 0;
    min-width: 15%;
    &.is-active {
      width: 100%;
    }
  }
}