.nav-list {
  min-height: 3rem;
  padding: 1rem 10rem;
  display: flex;

  >.nav-link > a {
    padding: 0 .75rem .5rem;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: .25rem;
    text-transform: uppercase;
    border-bottom: none;
    color: $gray;
    display: flex;
    position: relative;
    justify-content: center;
  
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 0;
      height: .1rem;
      bottom: 0;
      left: 0;
      background: $theme;
      transition: width .2s ease-in-out;
    }

    &:hover {
      color: $theme;
      transition: color .2s ease-in-out;

      &::after {
        width: 100%;
      }
    }
  }  

  > .nav-link.sub {
    display: flex;
    align-items: flex-end;
    transform: translateX(-1rem);
    animation: enter 1s forwards ease-in-out;
    
    > a {
      font-size: .75rem;
      font-weight: 500;
      letter-spacing: .1rem;
    }
  }
}

@keyframes enter {
  to { transform: translateX(1rem) }
}