/* Calcite fixes */

button {
  &.top-nav-link {
    cursor: pointer;
    background: inherit;
    border-left: none;
    border-right: none;
    border-top: none;
    box-sizing: border-box;
    margin: 0;
    /* Safari adds a 2px margin to buttons for no reason */
  }
  &.dropdown-link {
    cursor: pointer;
    background: inherit;
    border: none;
  }
}

.btn.btn-transparent {
  color: rgba($black, .5);
  float: right;

  &:hover {
    color: $blue;
    text-decoration: none;
    transition: .3s all;
  }

}

/* don't know why there is a top offset 50px */
// use !important to override inline style
.esri-ui {
  top: 0 !important;
}
